</main>
<footer>

</footer>
<script >
    // =====================code for dropdown=============================
    const toggle_button=document.querySelector('.toggle_btn');
    const xmark_button=document.querySelector('.xmark_btn');
    const drop_down_menu=document.querySelector('.dropdown_menu');
    const body=document.querySelector('html');

    toggle_button.onclick=function(){
        drop_down_menu.classList.toggle("open");
    };
    xmark_button.onclick=function(){
        drop_down_menu.classList.remove("open");
    };
  
    
</script>
</body>
</html>