</main>
<footer class="footer-distributed">
    <div class="footer-left">
        <a href="/" class="logo">
            <img src="/images/logo.png" height="20px"width="57px"alt="">
        </a>
        <p class="footer-links">
            <a href="/" class="active">Home</a>
            |
            <a href="/posts">Posts</a>
            |
            <a href="/plan">Plan</a>
            |
            <a href="/map">Map</a>
        </p>
        <p class="footer-company-name">Copyright © <%=new Date().getFullYear()%> <strong>PŁife</strong>
        All rights reserved</p>
    </div>
    <div class="footer-center">

    </div>
    <div class="footer-right">
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <p>+48 883-589-324</p>
        </div>
        <div class="contact">
            <i class="fa-solid fa-envelope"></i>
            <p><a href="#">marsonyteam@gmail.com</a></p>
        </div>
    </div>
</footer>
<script src="script.js"></script>
</body>
</html>