</main>
<footer class="footer-distributed">
    <div class="footer-left">
        <a href="#me" class="logo">
            <img src="/images/logo.png" height="20px"width="57px"alt="">
        </a>
        <p class="footer-links">
            <a href="#me" class="active">Home</a>
            |
            <a href="#posts">Posts</a>
            |
            <a href="#plan">Plan</a>
            |
            <a href="#map">Map</a>
        </p>
        <p class="footer-company-name">Copyright © <%=new Date().getFullYear()%> <strong>PŁife</strong>
        All rights reserved</p>
    </div>
    <div class="footer-center">

    </div>
    <div class="footer-right">
        <div>
            <i class="fa-solid fa-phone"></i>
            <p>+48 883-589-324</p>
        </div>
        <div>
            <i class="fa-solid fa-envelope"></i>
            <p><a href="#">marsonyteam@gmail.com</a></p>
        </div>
    </div>
</footer>
<script >
    // =====================code for dropdown=============================
    const toggle_button=document.querySelector('.toggle_btn');
    const xmark_button=document.querySelector('.xmark_btn');
    const drop_down_menu=document.querySelector('.dropdown_menu');
    const body=document.querySelector('html');

    toggle_button.onclick=function(){
        drop_down_menu.classList.toggle("open");
    };
    xmark_button.onclick=function(){
        drop_down_menu.classList.remove("open");
    };
</script>
</body>
</html>