<%- include("partials/header.ejs") %>
<section id="me">
    <div class="container-1">
        <div class="container-2"> 
            <div class="text-container">
                <p id="p1">Crafting the future, designing<br><span>leisure moments.</span></p>
            </div>
            <div class="image-container">
                <img src="images/herb.png" alt="website creator's photo"class="image2"/>
            </div>
        </div>
        <dic class="container-3">
            <hr>
            <a href="#authors" id="auth">
                <i class="fa-solid fa-chevron-down"></i>
            </a>
            
        </dic>
    </div>
</section>
<section id="authors">
    <div class="team">
        <div class="title-box" >
            <h1>Our Team</h1>
            <p>Happy to welcome you on our site</p>
        </div>
        <div class="team-row">
            <div class="profile-box">
                <h4>Zlydar Valeriia</h4>
                <small>Web programming specialist</small>
                <img src="images/zlydar.png" alt="Zlydar's photo">
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>