<%- include("partials/header.ejs")%>
<section id="me">
    <div class="container-1">
        <div class="container-2"> 
            <div class="text-container">
                <p id="p1">Crafting the future, designing<br><span>leisure moments.</span></p>
            </div>
            <div class="image-container">
                <img src="images/herb.png" alt="website creator's photo"class="image2"/>
            </div>
        </div>
        <div class="container-3">
            <hr>
            <a href="#authors" id="auth">
                <i class="fa-solid fa-chevron-down"></i>
            </a>
        </div>
    </div>
</section>

<section id="authors">
    <div class="team">
        <div class="title-box" >
            <h1>Our Team</h1>
            <p>Our team of programmers warmly welcomes you to our website, where innovation 
                <br>and creativity come together to enhance your online experience.</p>
        </div>
        <div class="team-row">
            <div class="profile-box">
                <h4>Zlydar Valeriia</h4>
                <small>Web programming <br>specialist</small>
                <img src="images/zlydar.png" alt="Zlydar's photo">
                <div class="social-box">
                    <a href="https://www.facebook.com/profile.php?id=100086034558322"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/vel.zly_/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@velzly?lang=ru-RU"> <i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.linkedin.com/in/valeriia-zlydar-0089a4304/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <p>As a full-stack developer, handling<br> both
                     front-end and back-end tasks.</p>
            </div>
            <div class="profile-box">
                <h4 id="praska">Horbach Praskouya</h4>
                <small>Web programming <br>specialist</small>
                <img src="images/praska.png" alt="Praskouya's photo">
                <div class="social-box">
                    <a href="https://www.facebook.com/profile.php?id=100052197712192"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/praskovjushkaizbresta?igsh=ZHllZzQwdzhoaWQx"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@yanechochuspat?_t=8leukXJJXMr&_r=1"> <i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://pl.linkedin.com/in/praskouya-horbach-a10a0128b"> <i class="fa-brands fa-linkedin"></i></a>
                </div>
                <p>I specialize in back-end development as a skilled developer.</p>
            </div>
            <div class="profile-box">
                <h4 id="mirik">Alkhovik Miraslau</h4>
                <small>Swift programming <br>specialist</small>
                <img src="images/miraslau.png" alt="Miraslau's photo">
                <div class="social-box">
                    <a href="https://www.facebook.com/share/qxqSruMSVRaJaWhK/?mibextid=LQQJ4d"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/miraslauuu?igsh=d3N5YjY0cjVjMGww&utm_source=qr"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@miraslauuuu?_t=8lethfYFsxt&_r=1"> <i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://pl.linkedin.com/in/miraslau-alkhovik-6039aa99"> <i class="fa-brands fa-linkedin"></i></a>
                </div>
                <p>As a Swift developer, I craft elegant and efficient solutions for iOS</p>
            </div>
            <div class="profile-box">
                <h4 id="anhel">Mendohralo<br> Anhelina</h4>
                <small>Database specialist</small>
                <img src="images/anhelina.png" alt="Anhelina's photo">
                <div class="social-box">
                    <a href="https://www.facebook.com/share/Lig8oJHY9JK9gscK/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/chamomilis_/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@linanil__?_r=1&_d=dgd7d9ldc1hgll&sec_uid=MS4wLjABAAAATQ4AJMTWqXM8EhZmTkvIYyBqQZxaCablYyhoE1b-B_x89-lGQw0Y6ofLFJsA9BOU&share_author_id=6915807335345554438&sharer_language=ru&source=h5_m&u_code=dgd7d921dacc7g&timestamp=1713533450&user_id=6915807335345554438&sec_user_id=MS4wLjABAAAATQ4AJMTWqXM8EhZmTkvIYyBqQZxaCablYyhoE1b-B_x89-lGQw0Y6ofLFJsA9BOU&utm_source=copy&utm_campaign=client_share&utm_medium=android&share_iid=7336074450235066144&share_link_id=4316030d-1584-47da-9e61-c35edbc7b199&share_app_id=1233&ugbiz_name=ACCOUNT&ug_btm=b8727%2Cb0229&social_share_type=5&enable_checksum=1"> <i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.linkedin.com/in/anhelina-mendohralo-27981828b/"> <i class="fa-brands fa-linkedin"></i></a>
                </div>
                <p>I specialize in optimizing databases for peak performance.</p>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>