<%- include("partials/header.ejs") %>
<section id="me">
    <div class="container-1">
        <div class="container-2"> 
            <div class="text-container">
                <p id="p1">Crafting the future, designing<br><span>leisure moments.</span></p>
            </div>
            <div class="image-container">
                <img src="images/herb.png" alt="website creator's photo"class="image2"/>
            </div>
        </div>
        <div class="container-3">
            <hr>
            <a href="#authors" id="auth">
                <i class="fa-solid fa-chevron-down"></i>
            </a>
        </div>
    </div>
</section>
<section id="authors">
    <div class="team">
        <div class="title-box" >
            <h1>Our Team</h1>
            <p>Our team of programmers warmly welcomes you to our website, where innovation 
                <br>and creativity come together to enhance your online experience.</p>
        </div>
        <div class="team-row">
            <div class="profile-box">
                <h4>Zlydar Valeriia</h4>
                <small>Web programming <br>specialist</small>
                <img src="images/zlydar.png" alt="Zlydar's photo">
                <div class="social-box">
                    <a href="https://www.facebook.com/profile.php?id=100086034558322"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/vel.zly_/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@velzly?lang=ru-RU"> <i class="fa-brands fa-tiktok"></i></a>
                    <a href="#x"> <i class="fa-brands fa-x-twitter"></i></a>
                </div>
                <p>As a full-stack developer, handling<br> both
                     front-end and back-end tasks.</p>
            </div>
            <div class="profile-box">
                <h4 id="praska">Horbach Praskouya</h4>
                <small>Web programming <br>specialist</small>
                <img src="images/zlydar.png" alt="Zlydar's photo">
                <div class="social-box">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""> <i class="fa-brands fa-tiktok"></i></a>
                    <a href=""> <i class="fa-brands fa-x-twitter"></i></a>
                </div>
                <p>I specialize in back-end development as a skilled developer.</p>
            </div>
            <div class="profile-box">
                <h4 id="mirik">Alkhovik Miraslau</h4>
                <small>Swift programming <br>specialist</small>
                <img src="images/zlydar.png" alt="Zlydar's photo">
                <div class="social-box">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""> <i class="fa-brands fa-tiktok"></i></a>
                    <a href=""> <i class="fa-brands fa-x-twitter"></i></a>
                </div>
                <p>As a Swift developer, I craft elegant and efficient solutions for iOS</p>
            </div>
            <div class="profile-box">
                <h4 id="anhel">Mendohralo<br> Anhelina</h4>
                <small>Database specialist</small>
                <img src="images/zlydar.png" alt="Zlydar's photo">
                <div class="social-box">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""> <i class="fa-brands fa-tiktok"></i></a>
                    <a href=""> <i class="fa-brands fa-x-twitter"></i></a>
                </div>
                <p>I specialize in optimizing databases for peak performance.</p>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer.ejs") %>