<%- include("partials/header.ejs") %>
<section id="me" style="display: flex; justify-content: center; align-items: center; height: 100vh;background-color:rgba(63, 29, 31, 1); background: linear-gradient(
    90deg,
    var(--background-color),  
    var(--background-color),  
    #51292A, 
    #7A5D5E, 
    #887374  
  ); 
  ">
    <!-- ja chz jak tut gradient zrobyty norm -->
    <div class="login-box" style="padding: 20px; border: 1px solid #ccc; background:#D9D9D9; text-align: center;">
        <h2>Log in into your account</h2>
        <h4>Your log in is your university id</h4>
        <!-- Formularz logowania -->
        <form method="post" action= "http://localhost:3000/login">
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <br>
              <input type="text" placeholder="Enter Username" name="uname" required id="uname">
              <br>
              <label for="psw"><b>Password</b></label>
              <br>
              <input type="password" placeholder="Enter Password" name="psw" required id="psw">
          
              <button type="submit">Login</button>
            </div>
          
            <div class="container" style="background-color:#f1f1f1">
              <button type="button" class="cancelbtn">Cancel</button>
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
        <h5>Don't have an account? <a href="./registration_form">Register</a></h5>
    </div>

</section>

<style>
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
</style>
