<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
    #me {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        height: 100vh; 
    }
    
    iframe {
        width: 800px;
        height: 500px;
        z-index: 9999;
    }
    .search-bar {
        margin-bottom: 20px; 
        width: 50%;
        position: relative; 
        font-family: 'Shippori Antique', sans-serif;
    }

    .search-input {
        width: 100%; 
        padding: 10px 40px 10px 10px; 
        border: 1px solid #ccc; 
        border-radius: 25px; 
        font-size: 16px;
    }

    .fa-search { 
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #ccc;
    }

    #coordinates {
        margin-top: 20px;
    }
</style>
<section id="me">
    <br>
    <div class="search-bar">
        <input type="text" class="search-input" placeholder="Search..." id="searchInput" list="buildingList">
        <i class="fa fa-search"></i>
        <datalist id="buildingList"></datalist>
    </div>
    <br>
    <iframe
        id="mapIframe"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAhGmzFMkJD0MZxlfbsTalDFMmLS1Nh7v4&q=51.747045,19.455757">
    </iframe>
    <div id="coordinates"></div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById("searchInput");
        const mapIframe = document.getElementById("mapIframe");
        const coordinatesDiv = document.getElementById("coordinates");
        const buildingList = document.getElementById("buildingList");

        // Fetch building names and populate datalist
        fetch('/building-names')
            .then(response => response.json())
            .then(data => {
                data.forEach(building => {
                    const option = document.createElement("option");
                    option.value = building.Name;
                    buildingList.appendChild(option);
                });
            })
            .catch(error => {
                console.error("Error fetching building names:", error);
            });

        searchInput.addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                const buildingName = searchInput.value;
                fetch(`/coordinates?name=${encodeURIComponent(buildingName)}`)
                    .then(function (response) {
                        return response.text(); // Get the raw response text
                    })
                    .then(function (text) {
                        console.log('Response text from server:', text); // Log the raw text
                        const data = JSON.parse(text); // Parse the raw text into JSON
                        console.log('Parsed JSON data:', data); // Log the parsed JSON data

                        if (data.Latitude !== 0 && data.Longitude !== 0) {
                            const { Latitude, Longitude } = data;
                            coordinatesDiv.textContent = `Latitude: ${Latitude}, Longitude: ${Longitude}`;
                            updateMap(Latitude, Longitude);
                        } else {
                            coordinatesDiv.textContent = "Building not found";
                        }
                    })
                    .catch(function (rejectionReason) {
                        console.error('Error parsing JSON from response:', rejectionReason); // Log the error
                        coordinatesDiv.textContent = `Error fetching coordinates: ${rejectionReason}`;
                    });
            }
        });

        function updateMap(latitude, longitude) {
            const key = 'AIzaSyAhGmzFMkJD0MZxlfbsTalDFMmLS1Nh7v4';
            const url = `https://www.google.com/maps/embed/v1/place?key=${key}&q=${latitude},${longitude}`;
            mapIframe.src = url;
        }
    });
</script>

<%- include("partials/footer.ejs") %>
