<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/rodo.css">
<section id="me">
    <section id="rodo">
        <div class="container-rodo">
            <h1 class="title">Polityka Prywatności (RODO)</h1>
            <h2 class="section-title">Wstęp</h2>
            <p class="paragraph">W niniejszej Polityce Prywatności wyjaśniamy, jakie dane osobowe zbieramy, w jaki sposób je przetwarzamy i chronimy, a także jakie prawa przysługują użytkownikom w związku z RODO (Rozporządzenie Ogólne o Ochronie Danych Osobowych).</p>
            <h2 class="section-title">Administrator Danych</h2>
            <p class="paragraph">Administratorem danych osobowych jest firma PŁife, z siedzibą w Politechnice Łódzkiej, e-mail:marsonyteam@gmail.com, telefon: +48 883-589-324.</p>
            <h2 class="section-title">Zakres i Cel Przetwarzania Danych</h2>
            <p class="paragraph">Zbieramy i przetwarzamy następujące dane osobowe użytkowników:</p>
            <ul class="data-list">
                <li class="data-item"><strong>Imię i nazwisko:</strong> widoczne dla innych użytkowników w sekcji forum.</li>
                <li class="data-item"><strong>Login i hasło:</strong> używane do autoryzacji i identyfikacji użytkownika.</li>
                <li class="data-item"><strong>Adres e-mail:</strong> używany do komunikacji oraz resetowania hasła.</li>
                <li class="data-item"><strong>Lokalizacja:</strong> używana do wyświetlania budynków na mapie.</li>
            </ul>
            <p class="paragraph">Dane te przetwarzamy w celu:</p>
            <ul class="data-list">
                <li class="data-item">Umożliwienia logowania się do konta.</li>
                <li class="data-item">Dodawania i wyświetlania postów na forum.</li>
                <li class="data-item">Wyświetlania lokalizacji użytkowników na mapie.</li>
                <li class="data-item">Zapewnienia bezpieczeństwa konta i danych użytkownika.</li>
            </ul>
            <h2 class="section-title">Podstawa Prawna Przetwarzania Danych</h2>
            <p class="paragraph">Podstawą prawną przetwarzania danych osobowych użytkowników jest:</p>
            <ul class="data-list">
                <li class="data-item"><strong>Zgoda użytkownika:</strong> na przetwarzanie danych osobowych, takich jak imię, nazwisko, e-mail, oraz lokalizacja. Użytkownik wyraża zgodę na przetwarzanie danych poprzez akceptację niniejszej Polityki Prywatności podczas rejestracji.</li>
                <li class="data-item"><strong>Realizacja umowy:</strong> dane są niezbędne do świadczenia usług zgodnie z Regulaminem korzystania z aplikacji.</li>
                <li class="data-item"><strong>Prawnie uzasadnione interesy administratora:</strong> dotyczące zapewnienia bezpieczeństwa oraz poprawy funkcjonowania aplikacji.</li>
            </ul>
            <h2 class="section-title">Udostępnianie Danych</h2>
            <p class="paragraph">Dane osobowe użytkowników nie są udostępniane żadnym stronom trzecim, chyba że wymaga tego prawo.</p>
            <h2 class="section-title">Prawa Użytkowników</h2>
            <p class="paragraph">Użytkownicy mają prawo do:</p>
            <ul class="data-list">
                <li class="data-item"><strong>Dostępu do swoich danych:</strong> użytkownicy mogą w każdej chwili zażądać dostępu do swoich danych osobowych.</li>
                <li class="data-item"><strong>Sprostowania danych:</strong> użytkownicy mają prawo do poprawienia swoich danych osobowych.</li>
                <li class="data-item"><strong>Usunięcia danych:</strong> użytkownicy mogą zażądać usunięcia swoich danych osobowych, jeśli nie są one już niezbędne do celów, dla których zostały zebrane.</li>
                <li class="data-item"><strong>Ograniczenia przetwarzania:</strong> użytkownicy mogą zażądać ograniczenia przetwarzania swoich danych w określonych przypadkach.</li>
                <li class="data-item"><strong>Przenoszenia danych:</strong> użytkownicy mają prawo do przeniesienia swoich danych do innego administratora danych.</li>
                <li class="data-item"><strong>Sprzeciwu wobec przetwarzania:</strong> użytkownicy mogą wnieść sprzeciw wobec przetwarzania swoich danych osobowych na podstawie prawnie uzasadnionych interesów administratora.</li>
            </ul>
            <h2 class="section-title">Bezpieczeństwo Danych</h2>
            <p class="paragraph">Dbamy o bezpieczeństwo danych osobowych użytkowników, stosując odpowiednie środki techniczne i organizacyjne, aby chronić je przed nieuprawnionym dostępem, utratą lub zniszczeniem.</p>
            <h2 class="section-title">Okres Przechowywania Danych</h2>
            <p class="paragraph">Dane osobowe użytkowników przechowujemy tak długo, jak jest to konieczne do realizacji celów, dla których zostały zebrane, lub zgodnie z wymogami prawnymi.</p>
            <h2 class="section-title">Kontakt</h2>
            <p class="paragraph">W razie pytań dotyczących niniejszej Polityki Prywatności lub w celu skorzystania z przysługujących praw, prosimy o kontakt na adres e-mail: [Adres E-mail].</p>
            <h2 class="section-title">Aktualizacje Polityki Prywatności</h2>
            <p class="paragraph">Niniejsza Polityka Prywatności może być okresowo aktualizowana. Wszelkie zmiany będą publikowane na tej stronie, a użytkownicy zostaną o nich poinformowani poprzez e-mail lub powiadomienie w aplikacji.</p>
        </div>
        
    </section>
</section>
<%- include("partials/footer.ejs") %>