@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Shippori+Antique&display=swap');
:root{
    --background-color:rgb(94,23,26);
    --header-background:#E9E9E9 ;
    --header-text:#4D4C5C;
    --scrollbar:rgb(134,0,40);
    --main-text:rgb(204,230,233);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
    width: 100%;
}
/* =====================scrollbar==================== */
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-color: var(--scrollbar);
}
::-webkit-scrollbar-thumb{
    background-color: var(--background-color);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: whitesmoke;
  }
  /* ==================================================== */
body{
    background:var(--background-color);
    font-family: 'Shippori Antique',sans-serif;
    overflow-x:hidden;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 100%;
    width: 100%;
    margin:0px 0px;
    padding:0px 40px;
}
/* ===============DIVS PLAYCING HEADER================ */
header{
    position :fixed;
    height:60px;
    width:100%;
    padding: 10px 0;
    background:var(--header-background) ;
    z-index: 100;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav2{
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.nav2 p{
    padding-left:10px;
}
.logo{
    position:relative;
    margin-top:10px;
}
/* ==========Header animation========== */
.menu{
    display: flex;
    align-items: center;
    column-gap: 30px;
    transition: all .4s;
}
.menu li a,.dropdown_menu li a{
    font-size:20px;
    font-weight: 500;
    color:var(--header-text);
    position: relative;
    transition:.3s;
}
.menu li a.active,.menu li a:hover,.nav2 a p:hover{
    color: var(--background-color);
}
.menu li a::before,.nav2 a p::before {
    content:'';
    position: absolute;
    bottom: -2px;
    width: 110%;
    height: 2px;
    background-color: var(--scrollbar);
    border-radius: 50px;
    transform:scale(0);
    transition:.3s;
}
.menu li a.active::before,.menu li a:hover::before,.nav2  a p:hover::before{
    transform: scale(1);
}
.nav2 a p{
    font-size:18px;
    font-weight: 500;
    color:var(--header-text);
    position: relative;
    transition:.3s;
}
.nav2 a p::before {
    width: 85%;
    left:10px;
}
/* ==================================== */
/* ========================Dropdown menu header======================= */
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 0px;
    width: 40%;
    height: 0;
    margin-right: -3%;
    background: rgba(255,255,255,0.1);
    backdrop-filter:blur(40px);
    border-radius: 10px;
    overflow: hidden;
    transition: all .4s;
    display: none;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height:900px;
}
.dropdown_menu li{
    padding: 2rem;
    list-style-type:none;
    display: flex;
    align-items: normal;
    justify-content: center;
}
.dropdown_menu li a{
    color:rgb(204,230,233);
}
.dropdown_menu li.login_1{
    padding-top:120%;
    padding-bottom: 0.5rem;
}
.fa-xmark{
    color:rgb(204,230,233);
    font-size: 1.5rem;
    cursor:pointer;
    
}
.xmark_btn{
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
}
.fa-user{
    color:rgb(204,230,233);
    font-size: 1.2rem;
    cursor:pointer;
}
.dropdown_menu p{
    padding-left:10px;
}
.dropdown_menu footer{
    padding-top:0rem;
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright{
    font-size:14px;
    padding-top:0rem;
    font-weight: 250;
    color:rgb(204,230,233);
    position: relative;
    transition:.3s;
}
/* ======================Hamburger header================== */
.nav .toggle_btn{
    color:black;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
}
@media(max-width:992px){
    .nav .menu,.nav .nav2{
        display: none;
    }
    .nav .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        margin-left: -3%;
        margin-right: -10%;
        width: 70%;
        display: block;
    }
}
/* ==================================== */
.login{
    font-size: 20px;
    color:var(--header-text);
    text-decoration: none;
    font-weight: 100;
    display:flex;
    align-items: center;
}
/* ====================Main============================ */
#p1{
    font-weight: 800;
    color: rgb(204,230,233);
    text-align: center;
    font-size: 3rem;
}
#me{
    height: 100%;
    background: linear-gradient(90deg,var(--background-color),var(--background-color),#74383B,#9C797A,#AD9395);
}
.container-2{
  padding-top: 60px;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container-3{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text-container{
  margin-top: 1rem;
}
hr{
    position: relative;
    width:80%;
    bottom: 3rem;
}
/* ===============scrolldown================= */
#auth{
    background: transparent;
    border-color: transparent;
    position: relative;
    bottom: 3.4rem;
    font-size: 2rem;
    color:rgb(204,230,233);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}
#auth:hover{
    transform: translateY(-5px);
    /* box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25); */
    /* transform: scale(1.2,1.2); */
}
/* ==============================section authors======================== */
section#authors{
    min-height: 70vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.title-box{
    text-align: center;
    margin: 100px auto 50px;
}
.title-box h1{
    color: var(--header-background);
}
.title-box p{
    margin-top: 5px;
    line-height: 24px;
    color: var(--main-text);
    opacity:0.7;
}
.profile-box{
    width: 240px;
    height: 240px;
    background-color: var(--header-background);
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 10px rgba(115,193,255,0.1);
    padding: 20px;
    position: relative;
    transition: transform ease 0.5s, box-shadow ease 0.5s;
}
.profile-box:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.profile-box img{
    width:70px;
    position: absolute;
    top:20px;
    right: 20px;
    border-radius: 4px;
    transition: .5s;
}
.profile-box h4{
    margin-top: 5px;
    margin-bottom: 2px;
    color:var(--background-color);
}
small{
    font-size:0.7rem;
}
.social-box{
    background: var(--background-color);
    margin: 40px auto 10px;
    text-align: center;
    border-radius: 3px;
}
.social-box .fa-brands{
    margin: 5px;
    color:var(--header-background);
    cursor: pointer;
}
.profile-box p{
    text-align: center;
    line-height: 24px;
    font-size: 0.7rem;
}
.team-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 120%;
    gap:10px;
    margin-left: -6rem;
}
#praska{
    font-size:0.80rem ;
}
#mirik{
    font-size: 0.90rem;
}
.profile-box img:hover{
    width: 200px;
}
/* =============================footer========================= */
.footer-distributed {
    background-color: var(--header-background);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px;
    padding: 5px 0px 0px 50px;
    margin-top: 80px;
    display: flex; 
    justify-content: space-between; 
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    flex: 1; 
}

.footer-distributed .footer-links {
    color: var(--background-color);
    margin: 5px 0 7px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: var(--scrollbar);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-right {
    text-align:justify;
    display: flex;
    flex-direction: column;
    align-items:normal;
    margin-bottom: 10px;
}

.footer-distributed .footer-right div {
    margin-bottom: 5px;
}

.footer-distributed .footer-right i {
    font-size: 17px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin-right: 15px;
    background-color: #f8f8f8;
    color: #555;
    width: 42px;
    height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.footer-distributed .footer-right i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-right p {
    display: inline-block;
    color: black;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-right p a {
    color: var(--header-text);
    text-decoration: none;
}

.footer-links a:hover {
    color: darkred;
}
@media(max-width: 880px) {
    body{
        width:46vh;
    }
    header{
        width:46vh;
    }
    .container-1{
        width: 100%;
    }
    .container-2 {
        flex-direction: column;
        height: 90vh;
        width: 100%;
      }
      .text-container{
        padding-right: 0px;
        margin-right: 0px;
      }
      #p1{
        font-weight: 600;
        font-size: 2rem;
      }
      .image-container{
        padding-right: 0px;
        margin-right: 0px;
      }
      .image2{
        height:215px;
        width: 320px;
      }
      .dropdown_menu.open{
        height:100vh;
    }
    .dropdown_menu li.login_1{
        padding-top:90%;
        padding-bottom: 0.5rem;
    }
    .footer-distributed {
        flex-direction: column;
        padding-left: 20px; 
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        flex: none;
        width: 100%;
        text-align: center;
        align-items: flex-start;
        margin-right: 0; 
        margin-top:10px;
    }

    .footer-distributed .footer-right i {
        font-size: 15px;
        line-height: 30px;
        margin-right: 10px; 
        width: 35px;
        height: 35px;
    }
    .team-row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -3rem;
    }
    .title-box{
        text-align: center;
        width:98%;
        margin: 50px auto 50px;
    }
    .title-box p{
        margin-top: 5px;
        font-size: 15px;
        line-height: 24px;
    }
    .team-row{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap:10px;
    }
    .profile-box{
       margin-left: 8rem;
    }
    .footer-distributed .footer-right .contact{
       display: none;
    }
}
